html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  background: linear-gradient(-45deg, #191d32, #282f44, #453a49, #6d3b47);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#game {
  margin-bottom: 2rem;
}

#title {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: var(--color-one);
}

.introText {
  font-size: clamp(0.875rem, 5vw, 1rem);
}

.caution {
  font-weight: 700;
  animation-name: color-change;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#surveyLink {
  animation-name: color-change;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes color-change {
  0% {
    color: var(--color-one);
  }
  50% {
    color: red;
  }
  100% {
    color: var(--color-one);
  }
}

#startButton {
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #d9dddc;
}

#date {
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  color: var(--color-one);
}

.ending {
}

#audioButton {
  background: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  border: none;
}

.sceneText {
}

#choiceButtons {
  display: grid;
  gap: 1rem;
  border: none;
  justify-items: center;
  
}

.choiceButton {
  width: min(100%, 30rem);
}

#nextDayButton {
}

footer p {
  font-size: 0.625rem;
}
