html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

#game {
  border: 1px solid red;
}

#date {
}

.ending {
}

#resultText {
}

.sceneText {
}

.choiceButton {
}

#nextDayButton {
}
