html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

#game {
}

#title {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: var(--color-one);
}

.introText {
  font-size: clamp(0.875rem, 5vw, 1rem);
}

.caution {
  font-weight: 700;
  color: var(--color-one);
}

#startButton {
  font-size: clamp(2rem, 5vw, 2.5rem);
}

#date {
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  color: var(--color-one);
}

.ending {
}

#resultText {
}

.sceneText {
}

#choiceButtons {
  display: grid;
  gap: 1rem;
  border: none;
}

.choiceButton {
}

#nextDayButton {
}
